.header {
    display: flex;
    justify-content: space-between;

    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header-card {
    border-bottom: 1px solid black;
}

.footer-card {
    border-top: 1px solid black;
}