.cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card {
    text-align: center;
    padding: 16px 0;
    border-radius: 8px;
    border: 1px solid black;
    max-width: 600px;

    display: flex;
    flex-direction: column;
}

.header {
    border-bottom: 1px solid black;
}

.footer {
    border-top: 1px solid black;
}